<h1 class="reg">registration</h1>

<form class="registration" id="formReg">
  <label for="title-input1" class="form-label block mar-b-1">Login:</label>
  <input id="title-input1" name="name" type="text" tabindex="1" class=" form-control block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="title-input2" class="form-label block mar-b-1">Email:</label>
  <input id="title-input2" name="email" type="email" tabindex="2" class="form-control block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="title-input2" class="form-label block mar-b-1">City:</label>
  <input id="title-input2" name="city_id" type="text" tabindex="2" class="form-control block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="title-input3" class="form-label block mar-b-1">Password:</label>
  <input id="title-input3" name="pass" type="text" tabindex="3" class="form-control block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Registration" tabindex="3"
    class="btn block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
