<nav>
  <div class="entrance">
    <div class="allmagic">
    <a href="/"><img class="magic" src="https://millenniumgames.com/wp-content/uploads/2021/09/MTG_Primary_LL_2c_Black_LG_V12.png"></a>
    <p class="market">MarketPlace</p>
</div>
  <ul>
    <li><a class="link" href="/entrance">Войти</a></li>
    <li><a class="link" href="/registration">Зарегистрироваться</a></li>
  </ul>
  <form class="inputserch">
  <input class="serch" type="text" placeholder="Город">
  <input class="serch" type="text" placeholder="Название карточки"> 
  <button class="button" type="submit">Найти🔎</button>
</form>

</div>
</nav>
 