.card-image-container{
  height: 300px;
  width: 216px;
  border: 4px solid royalblue;
  border-radius: 16px;
}

.lkMyPostsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.lkPostInMyPostsContainer {
  padding: 30px;
}
