
.entrance {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  justify-content:space-between;
  color:#7BA7AB;
  background: radial-gradient(#c5c5e6, #7227c9);
  border: rebeccapurple solid 2px;
  
}
.entrance :last-child {
  align-self:flex-end;
}

.link {
  color:#f9eed3;
  text-decoration: none;
  margin-right: 10px;
}

.allmagic {
  width: 20%;
}
.magic {
  width: 120px;
  height: 70px;
  margin-left: 5px;
}
.market {
  margin-left: 25px;
  margin-top: 0;
  width: 70px;
  font-size: 20px;
}
form {
  width: 150px;
}
.serch  {
  width: 100%;
  height: 20%;
  padding-left: 5px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  background: #F9F0DA;
  outline: none;
  color: #9E9C9C;
  margin-top: 6%;

}
.inputserch {
  margin-left: 0;
 
}
.button {
 display: flex;
 flex-direction: column;
 margin-top: 15px;
 margin-left: 45px;
 border: #F9F0DA solid 2px;
 background: hsl(185, 22%, 58%);
 border-radius: 5px;
}


.styleSearchBar{
  position: absolute;
  color: black;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div[onclick]:hover{
  background-color: blue;
  cursor: pointer;
}

