.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
  align-items: center;
}
body {
  background-color: rgb(143, 116, 186);
  margin: 0;
}
#cardsBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  margin: 30px;
}
.cardsImage {
  height: 300px;
  width: 200px;
}
.form-control {
  width: 300px;
  background: #F9F0DA;
  border: 2px solid #7BA7AB;
  height: 20px;
  border-radius: 5px;
}
.btn {
  margin-top: 30px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  background: #F9F0DA;
}
.form-label {
  border: #7BA7AB solid 2px;
  background: rgb(124, 168, 171, 0.6);
  margin-top: 20px;
  width: 304px;
  height: 20px;
  color:rgb(34, 6, 61);
  border-radius: 5px;
  }
.reg {
  text-align: center;
  color:rgb(26, 86, 114)
}
