<h2>Корзина</h2>
<form>
  <button class="buy_button">Купить</button>
  {{#each cartPosts}}
  <div>
    {{this.img}} {{this.name}} {{this.}}
    <button class="delete_button">Удалить</button>
  </div>
  {{/each}}
  
</form>


