<nav>
  <button>Мои карточки</button> | 
  <button>Выставить новую карточку на продажу</button>
</nav>

{{!-- if --}}
<form class="add-post-form">
  <div class="card-image-container"></div>
  <label for="cardName">Название карточки:</label><br>
  <input type="text" name="cardName"><br>
  <label for="price">Цена:</label><br>
  <input type="text" name="price">
  <label for="price">Состояние:</label><br>
  <input type="text" name="state_id">
  <button type="submit">Выставить на продажу</button>
</form>

{{!-- if --}}

